$fontFamilyThin: Roboto-Thin;
$fontFamilyLight: Roboto-Light;
$fontFamilyRegular: Roboto-Regular;
$fontFamilyMedium: Roboto-Medium;
$fontFamilyBold: Roboto-Bold;

$success-color: rgb(139, 195, 74); // $palette-light-green-500
$error-color: rgb(244, 67, 54); // $palette-red-500

$button-primary-color: rgb(255, 87, 34); // $palette-deep-orange-500
$button-secondary-color: #fff;

$input-text-bottom-border-color: #7c7b7b;
$input-text-label-color: rgba(256, 256, 256, 0.54);
$input-text-highlight-color: rgb(255, 87, 34); // $palette-deep-orange-500
$input-text-error-color: $error-color;

/* SNACKBAR */

// Hard coded since the color is not present in any palette.
$snackbar-background-color: rgb(255, 87, 34); // $palette-deep-orange-500
$snackbar-tablet-breakpoint: 480px;
$snackbar-action-color: rgb(255, 87, 34); // $palette-deep-orange-500