$fontFamilyThin: Roboto-Thin;
$fontFamilyLight: Roboto-Light;
$fontFamilyRegular: Roboto-Regular;
$fontFamilyMedium: Roboto-Medium;
$fontFamilyBold: Roboto-Bold;

$button-primary-color-alt: #ff5722;

$input-text-bottom-border-color: #7c7b7b;
$input-text-label-color: rgba(256, 256, 256, 0.54);
$input-text-highlight-color: #ff5722;
$input-text-error-color: #f44336;

/* SNACKBAR */

// Hard coded since the color is not present in any palette.
$snackbar-background-color: #323232;
$snackbar-tablet-breakpoint: 480px;
$snackbar-action-color: #ff4081;