.support-companies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > img {
    margin: 37px 0;

    &:not(:last-child) {
      margin-right: 65px;

    }
  }
}

#benefits {
  padding: 40px 0 65px;
  text-align: center;
  color: whitesmoke;
  background-color: #333;

  .benefits-items {
    margin-top: 24px;
    padding: 0 15%;

    & > .mdl-grid:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .benefits-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

    &__description {
      @media screen and (min-width: $grid-desktop-breakpoint) {
        text-align: left;
      }
    }

    &__text {
      // Text style for "-- text about"
      opacity: 0.87;
      color: white;
    }
  }
}

#battle {
  padding: 40px 0 65px;
  text-align: center;
  color: whitesmoke;
  background-color: #333;

  .battle-items {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    flex-wrap: wrap;
  }

  .battle-item {
    width: 295px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    position: relative;

    & > img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }

    &__text {
      // Text style for "-- text about"
      opacity: 0.87;
      color: white;
    }

    &:not(:last-child) {
      margin-right: 45px;
    }

    & > .material-icons {
      position: absolute;
      right: -20px;
      top: -20px;
      color: #bdc3c7;
      font-size: 45px;
      opacity: 0.5;
      display: none;
    }

    &.selected-feature {
      background: rgba(155, 89, 182, 0.5);
      filter: none;

      .material-icons--check_circle {
        opacity: 1;
        display: inline-block;
        color: rgb(255, 87, 34);
      }
    }
  }

  .battle-items:not(.has-selected-feature) .battle-item {
    cursor: pointer;
    filter: grayscale(100%);

    .material-icons--radio_button_unchecked {
      display: inline-block;
    }

    &:hover {
      background: rgba(155, 89, 182, 0.5);
      filter: none;

      & > .material-icons {
        opacity: 1;

        &--check_circle {
          display: inline-block;
        }

        &--radio_button_unchecked {
          display: none;
        }
      }
    }
  }
}

#subscribe {
  padding: 81px 0 96px;
  text-align: center;
  color: whitesmoke;
  background: url(/assets/images/bic.png) center / cover;
}

footer.mdl-mini-footer {
  background-color: #212121;
  padding: 24px 184px;
  position: relative;

  .mdl-logo {
    margin-bottom: 16px;
    position: relative;
    .copyright {
      position: absolute;
      bottom: -12px;
      font-size: 10px;
      line-height: 10px;
      color: #757575;
    }
  }

  .mdl-mini-footer__link-list {
    margin-top: 5px;

    & li {
      line-height: $footer-btn-size;
    }
    a {
      text-transform: uppercase;
      color: #757575;

      &:focus, &:hover, /*&.active*/ {
        color: white;
      }
    }
  }

  .mdl-mini-footer__right-section {
    padding-top: 14px;

    a {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 7px;
      }
    }
  }

}

@media screen and (max-width: $layout-screen-size-threshold) {
  .support-companies {
    & > img:not(:last-child) {
      margin-right: 31px;
    }
  }

  #battle {
    .battle-items {
      justify-content: space-around;
    }

    .battle-item:not(:last-child) {
      margin-right: 0;
    }
  }

  footer.mdl-mini-footer {
    padding: 24px 0;
    justify-content: space-around;
  }
}

@media screen and (max-width: $grid-desktop-breakpoint) {
  #battle {
    padding: 20px 0 45px;
  }

  #benefits {
    padding: 20px 0 45px;
  }
}

@media screen and (max-width: $grid-tablet-breakpoint) {
  .support-companies {
    justify-content: space-around;

    & > img:not(:last-child) {
      margin-right: 0;
    }
  }
  footer.mdl-mini-footer > .mdl-mini-footer__link-list {
    display: none;
  }
}