& {
  background: url('/assets/images/header1.png') center / cover;
  height: 100vh;
  min-height: 100vh; // fix for full height header in iPad
  justify-content: space-between;
  position: relative;

  .mdl-layout-title {
    background: url('/assets/images/roomit_logo.png') center / cover;
    height: 32px;
    opacity: 0.87;
    width: 149px;
  }
  .mdl-navigation__link {
    opacity: 0.6;
    text-transform: uppercase;
    color: white;
    font-weight: 500;

    &:focus, &:hover, /*&.active*/ {
      opacity: 1;
    }
  }

  .welcome-language-links {
    display: flex;

    .mdl-navigation__link {
      line-height: 1;
      opacity: 1;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    button {
      min-width: 50px;
      padding: 0 10px;
    }
  }

  .welcome-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      opacity: 0.87;
      margin: 0;
      font-size: 72px;
      line-height: 72px;
      text-align: center;

      // Text style for "Watching shoul"
      color: white;
    }

    h4 {
      text-align: right;
      opacity: 0.6;
      color: #ebeaeb;
      font-size: 18px;
      margin-top: 0;
      // line-height: 72px;
      text-transform: uppercase;
    }

  }

  a.welcome-learn-more {
    // Text style for "learn more"
    display: block;
    color: #b5b5b5;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: white;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: $layout-screen-size-threshold) {
    & {
      display: flex;

      .welcome-title {
        h3 {
          font-size: 54px;
        }
        h4 {
          font-size: 14px;
        }
      }

      .welcome-learn-more > a {
        font-size: 10px;
      }
    }
  }

  @media screen and (max-width: $grid-desktop-breakpoint) {
    & {
      .welcome-title {
        h4 {
          text-align: center;
        }
      }

      .welcome-learn-more > a {
        font-size: 10px;
      }
    }
  }

  @media screen and (max-width: $grid-tablet-breakpoint) {
    & {
      .mdl-layout__header-row {
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        height: 120px;

        .mdl-navigation.mdl-layout--large-screen-only {
          display: block;
          line-height: 1;
          height: auto;
        }

        .mdl-layout-spacer {
          display: none;
        }
      }

      .welcome-title {
        a {
          display: none;
        }
      }
    }
  }
}
