& {
  background: url('/assets/images/header1.png') center / cover;
  height: 852px;
  position: relative;
  // .layout-transparent {
  //   background: url('/assets/images/header1.png') center / cover;
  //   height: 852px;
  // }
  .mdl-layout-title {
    background: url('/assets/images/roomit_logo.png') center / cover;
    height: 32px;
    opacity: 0.87;
    width: 149px;
  }
  .mdl-navigation__link {
    opacity: 0.6;
    text-transform: uppercase;
    color: white;
    font-weight: 500;

    &:hover, &:hover, /*&.active*/ {
      opacity: 1;
    }
  }

  .welcome-content {
    margin-top: 313px;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      opacity: 0.87;
      margin: 0;
      font-size: 72px;
      line-height: 72px;

      // Text style for "Watching shoul"
      color: white;
    }

    h4 {
      text-align: right;
      opacity: 0.6;
      color: #ebeaeb;
      font-size: 18px;
      margin-top: 0;
      // line-height: 72px;
      text-transform: uppercase;
    }

    .welcome-learn-more {
      margin-top: auto;
      margin-bottom: 25px;

      a {
        // Text style for "learn more"
        opacity: 0.25;
        color: whitesmoke;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}