& {
  background: url('/assets/images/header1.png') center / cover;
  // height: 852px;
  position: relative;
  .mdl-layout-title {
    background: url('/assets/images/roomit_logo.png') center / cover;
    height: 32px;
    opacity: 0.87;
    width: 149px;
  }
  .mdl-navigation__link {
    opacity: 0.6;
    text-transform: uppercase;
    color: white;
    font-weight: 500;

    &:focus, &:hover, /*&.active*/ {
      opacity: 1;
    }
  }

  .welcome-content {
    margin-top: 313px;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      opacity: 0.87;
      margin: 0;
      font-size: 72px;
      line-height: 72px;
      text-align: center;

      // Text style for "Watching shoul"
      color: white;
    }

    h4 {
      text-align: right;
      opacity: 0.6;
      color: #ebeaeb;
      font-size: 18px;
      margin-top: 0;
      // line-height: 72px;
      text-transform: uppercase;
    }

    .welcome-learn-more {
      margin-top: auto;
      margin-bottom: 25px;

      a {
        // Text style for "learn more"
        display: block;
        opacity: 0.25;
        color: whitesmoke;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  @media screen and (max-width: $layout-screen-size-threshold) {
    & {
      display: block;

      .welcome-content {
        h3 {
          font-size: 54px;
        }
        h4 {
          font-size: 14px;
        }
      }

      .welcome-learn-more > a {
        font-size: 10px;
      }
    }
  }

  @media screen and (max-width: $grid-desktop-breakpoint) {
    & {
      display: block;

      .welcome-content {
        h4 {
          text-align: center;
        }
      }

      .welcome-learn-more > a {
        font-size: 10px;
      }

      .welcome-content {
        margin-top: 50%;
      }
    }
  }

  @media screen and (max-width: $grid-tablet-breakpoint) {
    & {
      .mdl-layout__header-row {
        padding: 0;

        .mdl-layout-title {
          margin: 0 auto;
        }
        .mdl-navigation.mdl-layout--large-screen-only,
        .mdl-layout-spacer {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    & {
      .welcome-content {
        margin-top: 20%;
      }
    }
  }
}