<div class="mdl-layout__header-row">
  <span class="mdl-layout-title"></span>
  <div class="mdl-layout-spacer"></div>
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    {{!--{{#scroll-to href="#benefits" class="mdl-navigation__link"}}
      How it works
    {{/scroll-to}}--}}
  </nav>
</div>

<div class="welcome-title">
  <h3>
    Watching should make pleasure<span class="title-dot"></span>
    <h4>We understand you</h4>
  </h3>
  {{#scroll-to href="#benefits"}}
    {{#mdl-button isRaised=true isColored=false}}
        How it works
    {{/mdl-button}}
  {{/scroll-to}}
</div>

{{#scroll-to href="#benefits" classNames="welcome-learn-more"}}
  LEARN MORE<br/><i class="material-icons">keyboard_arrow_down</i>
{{/scroll-to}}