& {
  form {
    padding: 0 15px;

    .successful-message {
      color: $success-color;
      visibility: hidden;
    }

    .mdl-textfield {
      width: 100%;
      max-width: 601px;
    }

    &.submitted-successfully {

      .successful-message {
        visibility: visible;
      }

      .mdl-textfield {

        & .mdl-textfield__input {
          border-color: $success-color;
        }
      }
    }
  }
}