<img src="{{feature.image_url}}"/>
<h4>{{feature.title}} <span class="title-dot"></span></h4>
<div class="battle-item__text">{{feature.description}}</div>
{{#unless isHoverable}}
  <span class="battle-item__counter">
    {{feature.votes}}
  </span>
{{/unless}}
<span class="battle-item__counter"></span>
<i class="material-icons material-icons--check_circle">check_circle</i>
<i class="material-icons material-icons--radio_button_unchecked">radio_button_unchecked</i>