& {
  .social-button {
    display: inline-block;
    &--fb {
      background: url(/assets/images/social/facebook.png);
      width: 9px;
      height: 16px;

      &:hover {
        background: url(/assets/images/social/facebook_hover.png);
      }
    }

    &--twitter {
      background: url(/assets/images/social/twitter.png);
      width: 20px;
      height: 16px;

      &:hover {
          background: url(/assets/images/social/twitter_hover.png);
        }
    }

    &--gplus {
      background: url(/assets/images/social/gplus.png);
      width: 24px;
      height: 16px;

      &:hover {
          background: url(/assets/images/social/gplus_hover.png);
        }
    }

    &--youtube {
      background: url(/assets/images/social/youtube.png);
      width: 20px;
      height: 16px;

      &:hover {
          background: url(/assets/images/social/youtube_hover.png);
        }
    }
  }
}