<div class="mdl-layout__container">
  <div class="mdl-layout">
    <main class="mdl-layout__content">
      {{outlet}}
    </main>
  </div>
</div>

{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    <div class="mdl-js-snackbar mdl-snackbar" data-upgraded=",MaterialSnackbar" aria-hidden="true">
      <div class="mdl-snackbar__text">{{flash.message}}</div>
      {{!--<button class="mdl-snackbar__action" type="button" aria-hidden="true">Close</button>--}}
    </div>
  {{/flash-message}}
{{/each}}